.main_background {
    background-color: bisque;
    width: 1980px;
    height: 2150px;
}

.main_pic {
    width: 750px;
    height:auto;
    float: right;
    margin-right:1000px;
    
}

.bold {
    font-weight: 700;
    color:blueviolet;
}

.tangent {
    font-style: italic;
    font-size:medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(7, 80, 68)
}

.background {
    background-image: url('../Odin-recipes/Food_Pics/cookies_4.jpeg');
    width: 100vw;
    height: 200px;
    background-repeat:repeat-x;
}

li {
    padding: 10px;
    width: 300px;
    height: auto;
    margin:0px;
}

.gif {
    margin-right: 500px;
    width: 850px;
    height: 1000px;
    float: right;
    margin-bottom: -500px;
}

.in-line {
    display: inline-block;
    margin-top: -25px;
}
